@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');

* {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  font-family: 'Sono', sans-serif;
  
}

:root[color-mode="light"] {
  --surface1: #FFFFFF;
  --surface2: #f2f2f2;
  --surface3: #ffffff;
  --element1: #111111;
  --element2: #222222;
  --element3: #333333;
  --elementInverse: #eee;
  --primary: #01408e;
  --secondary: #3c5d5c;
  --tertiary: #fff7d6;
  --text: #000000;
  --alttext: #FFFFFF;
}

:root[color-mode="dark"] {
  --surface1: #0f0f0f;
  --surface2: #333333;
  --surface3: #404040;
  --element1: #eeeeee;
  --element2: #dddddd;
  --element3: #cccccc;
  --elementInverse: #111;
  --primary: #8fceff;
  --secondary: #72faca;
  --tertiary: #eee8a9;
  --text: #FFFFFF;
  --alttext: #000000;
  --button: #0f0f0f;
}

body {
  margin: auto;
  width: 100vw;
  height: 100vh;
  background-image: url("/assets/denim.webp");
  overflow-x: hidden;
  /*
  filter: blur(0.75px);
  -webkit-filter: blur(0.75px);
  */
}

.total-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  margin: auto;
  background-repeat: repeat;
}


#header-container {
    position: fixed;
    width: 100vw;
    height: 75px;
    background-color: white;
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    color: black;
    display: flex;
    flex-direction: row;
    z-index: 100;
}

#header-container ul {
  display: flex;
  flex-direction: row;
  padding: 24.0px;
  gap: 4px;
}

#header-container a {
  padding: 20px;
  transition: 0.25s linear;
  border: 1px solid;
  border-color: transparent;
}

#header-container a:hover {
  background-color: rgba(0,0,0,0.35);
  border-radius: 0.25em;
  text-decoration: underline;
}


#sign-in-container {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}

#sign-in {
  padding: 14px;
  transition: 0.25s linear;
}

#sign-in:hover {
  background-color: rgba(0,0,0,0.35);
  border-radius: 0.25em;
  text-decoration: underline;
}

.content-container {
  position: absolute;
  width: 100vw;
  height: calc(100% - 90px);
  margin-top: calc(90px);
}


/*

  BLOG SECTION

*/

#blog-panel-list {
  width: 60%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 20px;
}

.blog-panel-container {
  background-color: rgba(255, 255, 255, 0.50);
  border: 1px solid;
  border-radius: 0.15em;
  min-height: 150px;
  transition: 0.1s linear;
  padding: 15px;
  margin-top: 20px;
}

.blog-panel-container:hover {
  transform: translate(0, -3px);
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.35);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.35);
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.blog-panel-container h1{
  font-style: italic;
  font-weight: bold;
}

#blog-post-full-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 40px;
  margin: auto;
  min-width: 200px;
  width: 40%;
  min-height: 90%;
  background-color: rgba(255, 255, 255, 0.50);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  padding: 20px;
}

#blog-post-full-container h1 {
  font-style: italic;
  font-weight: bold;
  font-size: 0.75em;
}

#blog-post-full-container h2 {
  font-size: 0.75em;
}

#blog-post-full-container p {
  margin-top: 5em;
  font-size: 0.5em;
}

#blog-post-full-options {
  margin-top: 4.25vh;
  margin-left: 10vw;
  height: 80vh;
  width: 12vw;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#blog-panels-options {
  position: absolute;
  margin-top: 4.25vh;
  margin-left: 4vw;
  height: 80vh;
  width: 12vw;
  min-width: 100px;
  max-width: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#gen-btn {
  background-color: white;
  padding: 10px;
  border: 1px solid;
  border-radius: .4em;
  width: 100%;
  transition: transform 0.1s linear;
}

#gen-btn:hover {
  border-radius: 0.75em;
  background-color: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.35);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.35);
  transform: scale(1.05);
  text-decoration: underline;
  font-style: italic;
}

#gen-panel {
  background-color: white;
  padding: 10px;
  border: 1px solid;
  border-radius: .4em;
  width: 100%;
}

#gen-panel:hover { 
  background-color: rgba(255, 255, 255, 0.25);
}

#public-box {
  transform: scale(1.1);
  transition: 0.15s linear;
}

#public-box:hover {
  transform: scale(1.55);
}

.blog-post-full-editable {
  border: 1px solid;
  padding: 15px;
  width: 100%;
}

#blog-post-title {
  text-align: center;
}

#blog-post-full-content {
  min-height: 60vh;
  font-size: 0.5em;
}

#blur-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 30;
  visibility: hidden;
}

#blur-window-centered {
  background-color: rgba(255, 255, 255, 0.95);

  position: absolute;
  width: 30vw;
  min-width: 50px;
  height: 200px;
  left: 0;
  right: 0;
  top: 40%;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#blur-window-centered button {
  border: 1px solid;
  border-radius: 0.25em;
  padding: 10px;
  transition: 0.1s linear;
}

#blur-window-centered button:hover {
  background-color: #9a9a9a;
}

#main-welcome {
  background-color: white;
  width: 40%;
  min-width: 100px;
  height: 100px;
  margin-top: -100px;
  font-size: 2vh;
  border: 2px solid;
  border-radius: 1.25em;
  padding-top: 20px;
  text-align: center;
}

#main-welcome mark {
  background-color: rgba(255, 0, 0, 0.35);
  padding: 4px;
  transition: 0.15s linear;
}

#main-welcome mark:hover {
  border-radius: 0.25em;
  background-color: rgba(255, 0, 0, 0.65);
  text-decoration: underline;
  cursor: pointer;
}

.content-offset
{
  position: absolute;
  width: 100%;
  min-height: calc(100% - 75px);
  margin-top: 75px;
}

.min-height-60
{
  min-height: 60%;
}

.min-height-70
{
  min-height: 70%;
}

.min-height-72
{
  min-height: 72%;
}

.min-height-74
{
  min-height: 74%;
}

.min-height-80
{
  min-height: 80%;
}

.min-height-100
{
  min-height: 100%;
}

.min-height-screen {
  min-height: 100vh;
  background-repeat: repeat;
}

.min-height-full {
  min-height: 100%;
  background-repeat: repeat;
}

.min-height-adj {
  min-height: calc(120vh - 75px);
}

.min-height-80-p {
  min-height: 50%;
}

.height-92 {
  height: 92%;
}

.height-92-min {
  min-height: 92%;
}

.blog-tile-height {
  min-height: 60px;
}

.explore-header-height {
  height: 75px;
}
.explore-footer-height {
  height: 75px;
}

.blog-tile {
  transition: 0.2s ease-in-out;
}

.blog-tile:hover {
  flex-grow:10;
  transform: scale(1.01);
  -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
  border-radius: 2px;
  cursor: pointer;
}

.hoverable-button 
{
  transition: 0.15s linear;
}

.hoverable-button:hover 
{
  border-radius: 0.25em;
  background-color: #9a9a9a;
  color: white;
}

